@font-face {
    font-family: "Cormorant Bold";
    src: url(fonts/Cormorant-Bold.ttf);
}

@font-face {
    font-family: "Cormorant Regular";
    src: url(fonts/Cormorant-Regular.ttf);
}

@font-face {
    font-family: "Cormorant Italic";
    src: url(fonts/Cormorant-Italic.ttf);
}

p {
    margin: 0;
}

body {
    font-family: "Cormorant Regular";
    background-color: rgb(43, 35, 30);
    font-size: 1rem;
    color: rgb(253, 232, 190);
    word-wrap: break-word;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.library-body {
    display: grid;
    gap: 1rem;
}

.library_title {
    font-size: 1.5rem;
    text-align: center;
}

.row {
    position: relative;
/*     display: grid;
    grid-auto-flow: column; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    width: 2000px;
    overflow: hidden;
/*     border: 1px solid rgb(253, 232, 190); */
/*     background-color: rgb(253, 232, 190, 0.3); */
}

.fake_row {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    height: 88px;
    top: 0;
    background-color: rgb(253, 232, 190, 0.3);
    border: 1px solid rgb(253, 232, 190);
    box-sizing: border-box;
}


.column {
    display: grid;
    text-align: center;
    width: 250px;
    position: relative;
}

#primary {
    cursor: pointer;
}

.title-wrapper {
    position: relative;
    width: 250px;
    margin-inline: auto;
    z-index: 2;
}

.column > *:not(button), .card {
    box-sizing: border-box;
    background-color: rgb(64, 46, 42);
    padding: 1em;
    border: 1px solid rgb(253, 232, 190);
    transition: all 0.5s ease;
}

.invisible {
    opacity: 0;
}

.move-to-place {
    transform: translateY(-150px);
}

.column > * > *:nth-child(odd) {
    font-family: "Cormorant Bold";
    font-size: 1.3rem;
    margin-bottom: 0.5em;
}

.prev, .next {
    position: absolute;
    bottom: -84px;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 2;
    width: 2rem;
    background-color: transparent;
    color: rgb(253, 232, 190);
    font-size: 1rem;
}

.prev { left: -31px; }
.next { right: -31px; }